<!-- Generated template for the FeesComponent component -->
<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col col-10>
                        <img alt="logo" height="30" src="assets/imgs/axar.png"> Fees
                    </ion-col>
                    <ion-col>
                        <img height="30" src="assets/imgs/home.png" (click)="goBackHome()">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>


    <div padding>
        <div>
            <div>
                Click Group to see Fees
            </div>
            <ion-row *ngIf="groupList; else loading">
                <button ion-button block id="list-row" *ngFor="let item of groupList let odd=odd; let even=even" [ngClass]="{ odd: odd, even:even}" (click)="getKidsInGroup(item)">
                  <div >{{ item.groupName }}</div>

                </button>

            </ion-row>
        </div>

        <div>
            <ng-template #loading>
                <ion-spinner name="bubbles">Loading Groups...</ion-spinner>
            </ng-template>
        </div>


    </div>

    <div padding>
        <ion-row *ngIf="kidsList">
            <div>
                Kids in
                <div padding id="group-name">
                    {{groupName}}
                </div>
            </div>
            <div padding> </div>
            <button ion-button block id="list-row" *ngFor="let item of kidsList let odd=odd; let even=even" [ngClass]="{ odd: odd, even:even}" (click)="getFeesForKid(item)">
              <div >{{ item.kidName }}</div>

            </button>

        </ion-row>
    </div>

    <ion-item *ngIf="selectedKid">

        <ion-select [(ngModel)]="selectedKid" (ionChange)=onItemSelection(selectedKid)>
            <ion-option [value]="item" *ngFor="let item of kidsList">{{item.kidName}} ({{item.kidID}})
            </ion-option>
        </ion-select>


    </ion-item>



    <ion-item *ngIf="selectedKid">

        <button ion-button (click)="getFeesForKid(selectedKid)" icon-right>Show Fees
              <ion-icon name="stats"></ion-icon>
          </button>
    </ion-item>

    <ion-card *ngFor="let item of feeList">
        <ion-card-header>
            Date {{ item.dateOfAttendance }}
        </ion-card-header>
        <ion-card-content>
            Attendance {{ item.present }}

        </ion-card-content>
        <ion-card-content (click)="payFees(item)">
            Fee Paid {{ item.feePaid }}

        </ion-card-content>
    </ion-card>


</ion-content>