add-kid {
    #card-background {
        background-color: rgb(171, 247, 250);
        color: darkmagenta;
    }
    #select-group {
        background-color: rgb(79, 156, 243);
        color: white;
    }
    #select-package {
        background-color: rgb(97, 206, 240);
    }
    #kid-name,
    #parent-name {
        background-color: rgb(204, 250, 248);
        border-bottom: 1px solid darkmagenta;
    }
    .select-label {
        color: darkmagenta !important;
    }
    img {
        cursor: pointer;
    }
}