<!-- Generated template for the AddGroupsComponent component -->
<ion-header>
    <ion-navbar>
        <ion-title>
            <img alt="logo" height="40" src="assets/imgs/axar.png"> ADD GROUP
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <ion-card id="card-background">
        <ion-card-header id="add-group-header">
            GROUP NAME<br>

        </ion-card-header>

        <ion-card-content padding id="group-name">

            <ion-input id="input-group-name" placeholder="Name your New Group as..." [(ngModel)]="groupName" type="text" value="">
            </ion-input>

            <div padding></div>
            <button padding ion-button (click)="addGroup()" icon-right>Save
            <ion-icon name="add" ></ion-icon>
        </button>
        </ion-card-content>


    </ion-card>

</ion-content>