add-groups {
    #card-background {
        background-color: rgb(171, 247, 250);
        color: darkmagenta;
    }
    #add-group-header {
        background-color: rgb(79, 156, 243);
        color: white;
    }
    #group-name {
        background-color: rgb(97, 206, 240);
    }
    #input-group-name,
    #input-fee {
        border-bottom: 1px solid darkmagenta;
    }
    #select-package {
        background-color: rgb(97, 206, 240);
    }
    .select-label {
        color: darkmagenta !important;
    }
}