<!-- Generated template for the MarkAttendanceComponent component -->
<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col col-10>
                        <img alt="logo" height="30" src="assets/imgs/axar.png"> Mark Attendance
                    </ion-col>
                    <ion-col>
                        <img height="30" src="assets/imgs/home.png" (click)="goBackHome()">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <div padding>
        <div>

            <ion-row *ngIf="attendanceList; else loading">

                <ion-grid>
                    <ion-row>
                        <ion-col col-5>
                            {{date | date }}
                        </ion-col>
                        <ion-col>
                            PRESENT?
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <button id="button-text" ion-button block id="list-row" *ngFor="let item of attendanceList; let i=index let odd=odd; let even=even" [ngClass]="{ odd: odd, even:even}">

                    <ion-grid>
                    <ion-row no-padding>
                      <ion-col  col-5 id="name-col">
                        {{item.kidName}}
                      </ion-col>
                      <ion-col id="cb-col">
                        <ion-checkbox [(ngModel)]="checkedItems[i]"></ion-checkbox>
                      </ion-col>
                    </ion-row>
                  </ion-grid>


                </button>


            </ion-row>
        </div>

        <div>
            <ng-template #loading>
                <ion-spinner name="bubbles">Loading Groups...</ion-spinner>
            </ng-template>
        </div>
        <div>
            <button padding ion-button (click)="saveAttendance()">Save

        </button>
        </div>

    </div>




</ion-content>