<!-- Generated template for the AddScheduleComponent component -->
<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img float-left alt="logo" height="30" src="assets/imgs/axar.png"> Add Class
                    </ion-col>
                    <ion-col>
                        <img float-right height="30" src="assets/imgs/home.png" (click)="goBackHome()">
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card id="card-background">

        <ion-item id="repeat">
            <ion-label class="repeat-label" fixed>Repeat Every</ion-label>
            <ion-input [(ngModel)]="repeat" type="text" value=""></ion-input>
        </ion-item>

        <ion-item id="select-date">
            <ion-label fixed>Date </ion-label>
            <ion-input [(ngModel)]="myDate" type="date"></ion-input>
        </ion-item>



        <ion-item id="select-group">
            <ion-label class="select-label" fixed>Group </ion-label>
            <ion-select [(ngModel)]="selectedGroup" (ionChange)=onItemSelection(selectedGroup)>
                <ion-option [value]="item" *ngFor="let item of groupList">{{item.groupName}} ({{item.groupID}})
                </ion-option>
            </ion-select>
        </ion-item>



        <ion-item id="select-time">
            <ion-label fixed>Time</ion-label>
            <ion-input [(ngModel)]="myTime" type="text" value=""></ion-input>
        </ion-item>



        <div padding>
            <button ion-button block (click)="addSchedule()">Add Schedule</button>
        </div>


    </ion-card>

</ion-content>