<ion-header>
    <ion-navbar>
        <ion-title>
            <img alt="logo" height="40" src="assets/imgs/axar.png"> Coach App
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div padding>
        <ion-row>
            <ion-col col-3 ion-item no-lines>
                <div>
                    <ion-avatar item-left>
                        <img src="{{coachAvatar}}" alt="coach picture">
                    </ion-avatar>
                </div>
            </ion-col>
            <ion-col col-5 id="add-group-div">

                <div no-padding id="show-groups">
                    <button padding ion-button round (click)="goToGroups()">All Groups
                    </button>

                </div>

            </ion-col>
            <ion-col col id="kids-pic">
                <div id="activities-image">
                    <img src="assets/imgs/activities.png">
                </div>
            </ion-col>
        </ion-row>
    </div>

    <ion-content>

        <div padding>
            <div>
                <ion-row *ngIf="groupList; else loading">
                    <button ion-button block id="list-row" *ngFor="let item of groupList let odd=odd; let even=even" [ngClass]="{ odd: odd, even:even}" (click)="goToShowClassInfo(item)">
                      <div *ngIf="groupReceived; else noResult">{{ item.groupName }}  AT  {{item.time}}</div>

                    </button>


                </ion-row>
            </div>

            <div>
                <ng-template #loading>
                    <ion-spinner name="bubbles">Loading Groups...</ion-spinner>
                </ng-template>
            </div>
            <div>
                <ng-template #noResult>
                    <div> No Classes for Today</div>
                </ng-template>
            </div>


        </div>


        <div padding>
            <button ion-button block (click)="goToSchedule()">Schedule {{user}}</button>
        </div>


        <div padding>
            <button ion-button block (click)="goToAttendance()">Attendance</button>
        </div>




        <div padding>
            <button ion-button block (click)="goToFees()">Fees</button>
        </div>



        <div padding>
            <button ion-button block (click)="getKids()">Kids</button>
        </div>




        <div padding>
            <button ion-button block (click)="goToPerformance()">Performance</button>
        </div>



        <div padding>
            <button ion-button block (click)="goToEvents()">Events</button>
        </div>



    </ion-content>>